.wrap {
    min-width: 300px;
}
.no-resize {
    resize: none;
}
.task-item {
    position: relative;
    list-style-position: inside;
    display: list-item;
}
.control {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}
.task-item:hover .control {
    visibility: visible;
}