.no-resize {
    resize: none;

}

.li {
    position: relative;
}
.control {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;

}

li:hover .control{
    visibility: visible;
}

.list-group-item {
    list-style-position: inside;

    display: list-item;
}